{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">DEVICE</div>
            <div class="card-body">
                <h4 class="card-title">vívoactive 3</h4>
                <p class="card-text text-primary">{{username}}</p>
            </div>
            <img class="card-img-top mx-auto d-block" src="{{url_for('static', filename = 'img/vivoactive3.webp')}}" style="width: 50%;" alt="device">
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">STEPS</div>
            <div class="card-body">
                steps body
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">SLEEP</div>
            <div class="card-body">
                Sleep body
            </div>
        </div>
    </div>
</div>
{% endblock %}